/********* HEADER *********/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 110px;
}

/********* Itescia Logo *********/
header img {
    width: auto;
    height: 130px;
}

#title {
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
}


/********* CONTAINER *********/

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Submit button */
form input[type=submit]{
    width: 25%;
    text-align: center;
    margin-top: 50px;
    height: 30px;
    border-radius: 10px;
    background: orangered;
    font-size: 0.8em;
    font-style: italic;
    color: white;
    box-shadow: 5px 4px 2px orangered;
}

li {
    list-style-type: none;
}

h2 {
    text-align: center;
}

span {
    font-size: 1em;
    font-weight: bold;
}

.bac{
    color: red;
}

article img {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/********* informatique article *********/
#informatique h4 {
    margin-bottom: 0;
}

#informatique ul{
    margin-top: 2px;
}

.listMII {
    margin-bottom: 0;
}

/********* firstChoice section *********/
#firstChoice {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-right: 30px;
}

/********* information section *********/
#information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: red solid 2px;
    align-items: center;
    width: 48%;
}

#information article {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 40%;
}

/********* Formation continue article *********/
#formationC {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 50%;
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
    font-size: 0.8em;
}

#formationC aside:first-child{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/********* Formation continue last aside *********/
article aside:last-child{
    width: 100%;
}

/********* All input borders *********/
input, input:focus{
    border-top: none;
    border-left: none;
    border-right: none;
}

/********* FOOTER *********/

footer {
    margin-top: 54px;
    background: gainsboro;
    font-size: 0.7em;
    padding: 10px;
}

.reseaux{
    display: flex;
    justify-content: center;
}
.reseaux img{
    padding-right: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}